base:
  logger_file: "output.log"
screen: # Define screen parameters. Check your e-ink setup.
  width: 1448
  height: 1072
display_driver: # Waveshare IT8951's related setup
  is_dummy: False
  dummy_file: "dummy.jpg"
  epd_voltage: -2.18
colors: # The main colors used across the application. Accessed by `name`.
- name: "White"
  values: 255
- name: "Black"
  values: 0

fonts: # The main fonts used across the application. Accessed by `name`.
- name: "Default"
  path: "fonts/Roboto-Regular.ttf"

# List of modules. Each module in the folder `modules` can have an entry here and
# this configuration gets passed to the module itsef.
modules:
  mod_weather:
    conector: "OpenWeatherConnector"
    key: "97aef813e5e76ac11aa56982cd0732a9"
    lat: 52.2297
    lon: 21.0122
